* {
  box-sizing: border-box;
}

html {
  background: #dce7eb;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Titillium Web', sans-serif;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

.accordian {
  max-width: 550px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fefffa;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accordian .accordian-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #ff6873;
}

.accordian .content-container .question {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 20px 0px;
  border-top: 1px dotted #dce7eb;
  font-size: 2rem;
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #ff6873;
  cursor: pointer;
}

.accordian .content-container .question::after {
  content: '\276F';
  font-size: 1.5rem;

  transition: transform 0.5s; /* transition arrow */
}

.accordian .content-container:hover .question::after {
  transform: translateX(5px);
}

.accordian .content-container.active .question::after {
  content: '\276F';
  transform: rotate(90deg);
  font-size: 1.5rem;
  font-weight: 200;
}

.accordian .content-container .answer {
  font-size: 1.6rem;
  color: rgba(48, 69, 92, 0.8);
  line-height: 1.5;
  width: 95%;
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.5s -0.1s;
}

.accordian .content-container.active .answer {
  max-height: 500px;

  transition: max-height 1.5s ease-out;
}

@media screen and (max-width: 550px) {
  html {
    background-color: #fefffa;
  }

  .accordian {
    box-shadow: none;
    padding: 25px;
  }

  .accordian .accordian-title {
    margin-block-start: -30px;
    font-size: 1.8rem;
  }

  .accordian .content-container .question {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
  .accordian .content-container .answer {
    font-size: 1.4rem;
  }

  .accordian .content-container:last-child .answer {
    border-bottom: 1px dotted #dce7eb;
    width: 100%;
  }

  .accordian .content-container .question:after,
  .accordian .content-container.active .question::after {
    font-size: 1.5rem;
  }

  .accordian .content-container:hover .question::after {
    transform: none;
  }
}
